
<article class="widget">
   
  
  <div class="weatherInfo">
    
    <div class="description">    
      <div class="weatherCondition">Biller:{{this.biller}}</div>    
      <div class="place">User:{{this.user}}</div>
    </div>
  </div>
  
</article>




