<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Weathercard</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <paybotus-bot biller="abc" id= "chat" user="bheem" (click)= event()></paybotus-bot>
</body>
</html>
